#myNavbar{
    background-color: rgb(168, 221, 168);
    position: fixed;
    top: 0;
    z-index: 999;
}

.mt-9{
    margin-top: 9em;
}

#main {
    margin-top: 3em;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#logo{
    width: 40%;
}

.social_icon {
    font-size: 1.5rem;
}

.img-carousel {
    width: 90vw;
    height: 90vh;

}

.carousel-caption {
    position: absolute;
    bottom: 1;
    left: 0;
    right: 0;
    padding: 10px;
    color: #fff;
}

.destination_text {
    font-family: Apple Chancery, cursive;
    color: #fff;
}

.destination_text:hover{
    text-decoration: underline;
}

#spotHomepage {
    color: #565353b8;
    font-family: Apple Chancery, cursive;
    margin-bottom: 0%;
}

.anchorNoTextDec{
    text-decoration: none;
}

#articleHome {
    background-color: rgb(168, 221, 168);
    width: 98.5%;

}

#weOrganizeh1 {
    font-family: Copperplate, Copperplate Gothic Light, fantasia;
    color: #565353f3;
    font-weight: bold;
}

#weOrganizep{
    color: #565353f3;
    font-family: Georgia, serif;
}

.pLinkCenter{
    color: #565353f3;
    font-family: Copperplate, Copperplate Gothic Light, fantasia;
    margin-bottom: 0%;
}

.pLinkCenter:hover{
    text-decoration: underline;
}

#iconArrow {
    color: #565353f3;
}


#errorIcon{
    font-size: 10rem;
    color: red;
}

#unauthorizedIcon{
    font-size: 10rem;
    color: rgb(224, 224, 10);
}

#backHomeIcon{
    font-size: 7rem;
}

.fontGeorgia{
    font-family: Georgia, serif;
}

.fontCopperplate{
    font-family: Copperplate, Copperplate Gothic Light, fantasia;
}

#alreadyCoordinatoreIcon{
    font-size: 1.5em;
    color: green;
}

#dashIcon{
    font-size: 1.5em;
    color: red;
}

#bannedCircle{
    font-size: 1.5em;
    color: red;
}

.padding_negativo_sx{
    padding-left: 0%;
}

#iconNoNewRequest {
    font-size: 3em;
    color: green;
    padding-right: 0.6em;
}

#textNoNewRequest {
    font-size: 1.7em;
    color: green;
    margin-bottom: 0%;
}

#backAreaPersonaleIcon {
    font-size: 3.5rem;
    color: green
}

.image-container {
    position: relative;
    display: inline-block;
}

.zoomable {
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.image-container:hover .zoomable {
    transform: scale(1.05);
    filter: brightness(85%) blur(1px)
}

.titleImgPos {
    color: #fff;
    font-size:1.4em;
    font-weight: bold;
    position: absolute;
    bottom: 2em;
    left: 0.8em;
    z-index: 998;
}

.sectionDaysImgPos{
    color: #fff;
    font-size:1.2em;
    font-weight: 400;
    position: absolute;
    bottom: 0.5em;
    left: 0.8em;
    z-index: 998;
}

.pMarginNegativo{
    margin-bottom: 0%;
}

.priceImgPos{
    color: #fff;
    font-size:1.3em;
    font-weight: bold;
    position: absolute;
    bottom: 0.5em;
    right: 0.8em;
    z-index: 998;
}

.fav-button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 998;
}

#sectionHome{
    background-image: url("indexPics/foto_di_gruppo.jpg");
    background-size: cover;
    height: 17em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#idh1Home{
    font-size: 5em;
    height: min-content;
}