{% extends "base.html" %}
{% block title %}404 - Not found{% endblock %}

{% block content %}
<section id="notfound-message">
    <h1 class = "text-danger"> ERROR 404: Not found</h1>
    <h2 class = "display-6">Siamo spiacenti, ma non riusciamo a caricare la pagina cercata!</h2>
    <section class="d-flex justify-content-center">
        <i id = "errorIcon" class="bi bi-x-octagon"></i>
    </section>
    <section class = "d-flex justify-content-end align-items-center">
        <a href="{{ url_for('index') }}"><i id = "backHomeIcon" class="bi bi-house-door"></i></a> 
    </section>
{% endblock %}