{% extends "base.html" %}
{% block title %} {{super()}} Chat Viaggio {% endblock %}

{%block content%}
<h1 class = "fw-bold display-5 fs-2 fontCopperplate mb-4 padding_negativo_sx">{{viaggio.titolo}}</h1>

<section id="sectionChat" class="border">
    <section id = "sectionMessaggi">
        {%if messaggi%}
        {%for messaggio in messaggi%}
        <article class="d-flex flex-column justify-content-center border-bottom py-3">
            <article class="d-flex justify-content-between align-content-center">
                <section class="d-flex justify-content-start align-items-center">
                    <img class = "img_profilo_list rounded-circle me-2" src = "{{url_for('static', filename = 'utenti/'+messaggio.img_profilo)}}">
                    <p class="pMarginNegativo fontChancery">{{messaggio.nome}} {{messaggio.cognome}}</p>
                    {%if messaggio.id_utente == viaggio.id_coordinatore%}
                    <section class="d-flex justify-content-start align-items-center ms-3 fs-6 text-success">
                        <i class="bi bi-award-fill me-1"></i>
                        <p class="pMarginNegativo">Organizzatore</p>
                    </section>
                    {%endif%}
                </section>
                <section class="d-flex align-items-center fontCopperplate">
                    {{messaggio.data}}
                </section>
            </article>
            <section class="mt-2">
                {{messaggio.txtMessaggio}}
            </section>
        </article>
        {%endfor%}
        {%else%}
        <article class="mt-3">
            <p class="text-secondary">Non sono ancora stati pubblicati messaggi per questo viaggio.</p>
        </article>
        {%endif%}
    </section>


    <article class="border-top pt-2 border-4 border-success">
        <form action = "{{url_for('nuovo_messaggio', id_viaggio = viaggio.id, id_utente = current_user.id)}}" method="POST" class="mb-2">
            <div class="mb-2">
                <label for="textAreaComment" class="form-label fontCopperplate">Nuovo messaggio</label>
                <textarea name = "txtMessage" class="form-control" id="textAreaComment" rows="2" placeholder="Scrivi un messaggio" minlength="4"></textarea>
            </div>
            <div class="d-flex justify-content-between">
                <button type="reset" class="btn btn-outline-secondary fontCopperplate">Cancella</button>
                <button type="submit" class="btn btn-outline-primary fontCopperplate">Pubblica</button>
            </div>
        </form>
        
    </article>
</section>

<section class = "d-flex justify-content-end align-items-center mt-5">
    <a class="d-flex justify-content-start anchorNoTextDec fs-3 text-success" href="{{ url_for('pagina_viaggio', id_viaggio = viaggio.id) }}">
        <i class="bi bi-journal-text me-2"></i>
        <p class="fontCopperplate pMarginNegativo">Pagina viaggio</p>
    </a> 
</section>

{%endblock%}