{% extends "base.html" %}
{% block title %} {{super()}} Lista partecipanti {% endblock %}

{% block content %}

<h1 class = "fw-bold display-5 fs-2 fontCopperplate mb-4 padding_negativo_sx">LISTA PARTECIPANTI</h1>
<table class="table table-striped table-hover">
  <thead>
      <tr>
        <th scope="col">Foto</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Email</th>
        <th scope="col">Tipologia</th>
        <th scope="col">Nota</th>
      </tr>
  </thead>
  <tbody>
    {%for partecipazione in partecipazioni%}
    <tr>
        <td><img class = "img_profilo_list rounded-circle" src = "{{url_for('static', filename = 'utenti/'+partecipazione.img_profilo)}}"></td>
        <td class="align-content-center">{{partecipazione.nome}}</td>
        <td class="align-content-center">{{partecipazione.cognome}}</td>
        <td class="align-content-center">{{partecipazione.email}}</td>
        {%if partecipazione.id_utente != viaggio.id_coordinatore%}
        <td class="align-content-center">{{partecipazione.tipologia}}</td>
        {%else%}
        <td class="align-content-center">organizzatore</td>
        {%endif%}
        {%if partecipazione.nota%}
        <td class="align-content-center">{{partecipazione.nota}}</td>
        {%else%}
        <td class="text-secondary align-content-center">L'utente non ha lasciato alcuna nota.</td>
        {%endif%}
    </tr>
    {%endfor%}
  </tbody>
</table>

{%endblock%}