{% extends "base.html" %}
{% block title %} {{super()}} Area Personale {% endblock %}
{%block active_area_personale%} active {%endblock%}

{% block content %}

<section class="mb-4">
    <section class="d-flex justify-content-between">
        <h1 class=" fw-bold display-5 fs-2 fontCopperplate mb-4">I TUOI DETTAGLI</h1>
        {%if current_user.tipologia == 'admin'%}
        <form action="{{url_for('lista_utenti')}}" method="POST">
            <button type="submit" class="btn btn-outline-secondary mb-4 fontCopperplate">LISTA UTENTI</button>
        </form>
        {%endif%}
    </section>
    <article class="card row">
      <section class="card-body col-12">
          <div class="mb-5">
              <img class="usrimg rounded-circle" src="{{url_for('static', filename = 'utenti/'+current_user.img_profilo)}}"
                      alt="Questa è l'immagine dell'utente {{current_user.nome |e }}">
          </div> 
          <section class="row mb-3">
              <p class="col-md-3 fs-3 fw-semibold">Nome:</p>
              <p class="col-md-9 fst-italic fs-3">{{ current_user.nome }}</p>
          </section>
          <div class="py-1 border-top">
          </div>
          <section class="row mb-3">
              <p class="col-md-3 fs-3 fw-semibold">Cognome:</p>
              <p class="col-md-9 fst-italic fs-3">{{ current_user.cognome }}</p>
          </section>
          <div class="py-1 border-top">
          </div>
          <section class="row mb-3">
              <p class="col-md-3 fs-3 fw-semibold">Email:</p>
              <p class="col-md-9 fst-italic fs-3">{{ current_user.email }}</p>
          </section>
      </section>
    </article>
</section>

<section class="mt-4">
    <div class="d-flex justify-content-between mb-3">
        <h1 class="fw-bold display-5 fs-2 fontCopperplate mb-1">VIAGGI</h1>
        {%if current_user.tipologia == 'admin'%}
        <form action="{{url_for('approvazione_viaggi')}}" method="POST">
            <button type="submit" class="btn btn-outline-secondary fontCopperplate">IN APPROVAZIONE</button>
        </form>
        {%endif%}
    </div>
    {%if current_user.tipologia == 'admin' or current_user.tipologia == 'coordinatore'%}
    <div class="d-grid gap-2 mb-4">
        <button class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#modalNewTrip">+</button>
    </div>
    <div class="modal fade" id="modalNewTrip" tabindex="-1" aria-labelledby="modalNewTrip" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fontCopperplate" id="modalNewTrip">Nuova proposta</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{url_for('nuovo_viaggio', id_utente = current_user.id)}}" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <section class="mb-3">
                        <label for="idTitolo" class="col-form-label">Titolo</label>
                        <input type="text" class="form-control" name = "titolo" id="idTitolo" required minlength="3" maxlength="70">
                    </section>
                    <section class="mb-3">
                        <label class = "col-form-label" for = "continente">Continente</label>
                        <select id="continente" name="continente" class="form-select" aria-label="Default select example" required>
                            <option selected></option>
                            <option value="Africa">Africa</option>
                            <option value="Asia">Asia</option>
                            <option value="Europa">Europa</option>
                            <option value="Oceania">Oceania</option>
                            <option value="NordAmerica">Nord America</option>
                            <option value="SudAmerica">Sud America</option>
                        </select>
                    </section>
                    <section class="mb-3">
                        <label class = "col-form-label" for = "nazione">Nazione</label>
                        <select id="nazione" name="nazione" class="form-select" aria-label="Default select example" disabled required>
                            <option value="">Seleziona prima un continente</option>
                        </select>
                    </section>
                    <section class="mb-3">
                        <label for = "date" class = "col-form-label">Data di partenza</label>
                        <input name = 'data' class="form-control" type="date" aria-label="default input example" id = "date" min="{{un_mese_dopo}}" required>
                        <div id="passwordHelp" class="form-text">La data di partenza minima è tra 28 giorni!</div>
                    </section>
                    <section class="d-flex justify-content-between">
                        <section>
                            <label class = "col-form-label" for = "num_giorni">Numero di giorni</label>
                            <select id="num_giorni" name="num_giorni" class="form-select" aria-label="Default select example" required min="5" max="21">
                                <option selected></option>
                                {%for i in range(5,22)%}
                                <option value="{{i}}">{{i}}</option>
                                {%endfor%}
                            </select>
                        </section>
                        <section>
                            <label class = "col-form-label" for = "idAeroporto">Aeroporto di partenza</label>
                            <select id="idAeroporto" name="aeroporto" class="form-select" aria-label="Default select example" required>
                                <option selected></option>
                                {%for aeroporto in aeroporti_italiani%}
                                <option value="{{aeroporto}}">{{aeroporto}}</option>
                                {%endfor%}
                            </select>
                        </section>
                    </section>
                    <label class = "d-block mt-3 mb-2" for = "idPrezzo">Prezzo</label>
                    <article class="input-group mb-3">
                      <span class="input-group-text">€</span>
                      <input type="number" id = "idPrezzo" name = "prezzo" class="form-control" aria-label="Amount (to the nearest dollar)" required min="0" max="9999">
                      <span class="input-group-text">.00</span>
                    </article>
                    <section class="mb-3">
                        <label for="formFile" class="form-label">Aggiungi un'immagine</label>
                        <input class="form-control" type="file" id="formFile" name="immagine" required>
                    </section>
                    <div class="mb-1">
                        <label for="idDescrizione" class="form-label">Descrizione</label>
                        <textarea class="form-control" id="idDescrizione" rows="2" name="descrizione" required minlength="100"></textarea>
                    </div>
                </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary fontCopperplate" data-bs-dismiss="modal">Annulla</button>
              <button type="submit" class="btn btn-success fontCopperplate">Conferma</button>
            </div>
            </form>
          </div>
        </div>
    </div>

    
    <section>
        <h3 class="fw-bold display-5 fs-4 fontCopperplate mb-2 ms-2">Le tue proposte</h3>
        <div class="dropdown mb-4 ms-2">
            <form action = "{{url_for('area_personale')}}" method="POST">
              <button class="fontCopperplate btn {%if filtroApprovazione == 'all'%}btn-outline-secondary{%elif filtroApprovazione=='1'%}btn-outline-success{%else%}btn-outline-primary{%endif%} dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {%if filtroApprovazione == 'all'%}Tutte
                {%elif filtroApprovazione== '1'%} Approvate
                {%else%} In attesa di approvazione
                {%endif%}
              </button>
              <ul class="dropdown-menu">
                {# Quando sottometto il form, passo al server il value del button, che mi servirà per filtrare tra le diverse propostr #}
                <li><button type="submit" class="dropdown-item fontCopperplate" name="filtroApprovazione" value="all">Tutte</button></li>
                <li><hr class="dropdown-divider"></li>
                <li><button type="submit" class="dropdown-item fontCopperplate" name="filtroApprovazione" value="1">Approvate</button></li>
                <li><button type="submit" class="dropdown-item fontCopperplate" name="filtroApprovazione" value="0">In attesa di approvazione</button></li>
              </ul>
            </form>
        </div>
        {%for viaggio in viaggi_coordinatore%}
        <article class="me-4 ms-2 mb-4 image-container">
            <a href="{{url_for('pagina_viaggio', id_viaggio = viaggio.id)}}"><img class="zoomable rounded" src="{{url_for('static', filename = 'viaggio/'+viaggio.img_viaggio)}}" alt="Questa è l'immagine del viaggio in {{viaggio.nazione}}"></a>
            <p class="titleImgPos">{{viaggio.titolo}}</p>
            <section class="d-flex justify-content-start align-items-center sectionDaysImgPos">
                <i class="bi bi-calendar-date me-2"></i>
                <p class="pMarginNegativo">{{viaggio.num_giorni}} giorni</p>
            </section>
            <p class="priceImgPos pMarginNegativo">{{viaggio.prezzo}} €</p>
            {%if viaggio.approvato == 1%}
            <div class="fav-button d-flex justify-content-start align-items-center bg-success text-white bg-opacity-50 fs-5"> 
                <i class="bi bi-check-all me-1"></i>
                <p class="pMarginNegativo pe-1 fontCopperplate">Approvato</p>
            </div>
            {%else%}
            <div class="fav-button d-flex justify-content-start align-items-center bg-primary text-white bg-opacity-50 fs-5"> 
                <i class="bi bi-hourglass-split me-1"></i>
                <p class="pMarginNegativo pe-1 fontCopperplate">In attesa di approvazione</p>
            </div> 
            {%endif%}
        </article>
        {%endfor%}
    </section>
    {%endif%}
</section>

{%endblock%}